<!DOCTYPE html>



<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <h1><%= objArticle.title %></h1>
<br>  
<br>  
  <p
      style="
        text-align: center;
        padding: 10px 0;

        width: 70%;
        margin-left: auto;
        margin-right: auto;

        background-color: #fff;
        color: #3d4a59;
        font-size: 20px;
        font-weight: bold;
        border: 2px solid yellow;
        border-radius: 17px;

        padding: 15px;
      "
    >
      <%= objArticle.body %>
    </p>
    <br>
    <br>

    <button class="create" data-linkid="<%= objArticle._id %> ">
      Delete This Article
    </button>

    <br />
    <br />
    <br />

    <%- include("./partials/footer.ejs") %>

    <script>
      const btnelement = document.querySelector(".create");
      const articleId = btnelement.getAttribute("data-linkid");

      // what is data ?
      // { mylink: "/all-articles" }

      // delete article when click button

      btnelement.addEventListener("click", (eo) => {
        fetch(`/all-articles/${articleId}`, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.mylink))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
